<!doctype html>
<html ng-app="mapIt">
	<head>
		<title>
			MapIt
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkag9tWKIuW60OYonw3hOV4YSMDMDF2Ok"></script>

		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/services.js"></script>
		<script type="text/javascript" src="app/map-it-controller.js"></script>

		<link rel="stylesheet" type="text/css" href="css/mapit.css"></link>
	</head>

	<body ng-controller="mapItController">
		<div> 
			<input type="text" name="temp" ng-model="test" /> <input type="button" ng-click="button_click()"/>
		</div>
		<div id="map" class="full-body hidden-overflow"></div>
	</body>
</html>

<!-- TODO
	Potentially fix the geolocation loading default to 0,0
search bar - initial searching is possible - set up a search bar at the top of page
markers
 -->